<Form id="person-location" class="example-full-width" [formGroup]="fg">
  <div formArrayName="residences">
    <ng-container *ngFor="let control of stepForm.controls; let i=index">
  <div [formGroupName]="i" fxLayout="row wrap" fxLayout.xs="column" fxFlexFill fxLayoutAlign="space-evenly start">
    <!--zipCode-->
    <mat-form-field class="example-full-width" style="width: 100px">
      <mat-label>Irsz</mat-label>
      <input matInput placeholder="irányító száma" formControlName="zipCode">
    </mat-form-field>
    <!--place -->
    <mat-form-field class="example-full-width">
      <mat-label>Helység</mat-label>
      <input matInput placeholder="lakóhelye" formControlName="place" >
    </mat-form-field>
    <!--street-->
    <mat-form-field class="example-full-width">
      <mat-label>Utca</mat-label>
      <input matInput placeholder="utca házszám" formControlName="street">
    </mat-form-field>
    <!--stabel-->
    <mat-checkbox class="example-margin" style="margin-top: 25px">Állandó lakhely!</mat-checkbox>
    <br />
    <button mat-raised-button type="button"  (click)="removeFormArrayItem(i)" style="margin: 10px" color="warn">törlés</button>
  </div>

  </ng-container>
  </div>
  <br />
  <button mat-raised-button type="button" (click)="addFormArrayItem()" style="margin: 10px">Új lakóhely</button>
  <button type="submit" mat-raised-button color="primary" matStepperNext (click)="stepSubmitted()">Következő</button>
</Form>
