.form-container{
  width: 400 px;
  margin: 0 px auto;
  margin-top: 200 px
}

.form-field{
  display: block
}

.mat-stepper-vertical {
  margin-top: 8px;
}

.mat-form-field-max {
  margin-top: 16px;
}

.mat-form-field {
  margin-top: 16px;
  width: 350px;
}
