<mat-form-field class="example-full-width">
  <mat-chip-list #chipList>
    <mat-chip
      *ngFor="let mark of marks"
      [selectable]="selectable"
      [removable]="removable"
      (removed)="remove(mark)">
      {{mark}}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
    <input
      placeholder="Új csoportjel..."
      #markInput
      [formControl]="markCtrl"
      [matAutocomplete]="auto"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      [matChipInputAddOnBlur]="addOnBlur"
      (matChipInputTokenEnd)="add($event)"
    />
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <mat-option *ngFor="let mark of filteredMarks | async" [value]="mark">
      {{ mark }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
