<Form id="person-connection" class="example-full-width" [formGroup]="stepForm">
  <div formArrayName="phones">
  <ng-container *ngFor="let control of phonNumbers.controls; let i=index">
      <!--comment -->
      <!--div  fxLayout="row wrap" fxLayout.xs="column" fxFlexFill fxLayoutAlign="start center" fxLayoutGap="20px"-->
      <div [formGroupName]="i" fxLayout="row wrap" fxLayout.xs="column" fxFlexFill fxLayoutAlign="start center" fxLayoutGap="20px">
      <mat-form-field class="example-full-width">
        <mat-label>Kapcsolat neve</mat-label>
        <input matInput placeholder="mobil" formControlName="comment">
      </mat-form-field>
      <!--number-->
      <mat-form-field class="example-full-width">
        <mat-label>Leírása</mat-label>
        <input matInput placeholder="30 445" formControlName="number">
      </mat-form-field>
      <br />
     <button mat-raised-button (click)="removeFormControl(i)" style="margin: 10px" color="warn">törlés</button>
    <!--/div-->
  </div>
  </ng-container>
</div>
  <br />
  <button mat-raised-button (click)="addFormControl()" style="margin: 10px">Újkapcsolat</button>
  <button mat-raised-button matStepperNext>Következő</button>
</Form>
