/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.form-container {
  display: flex;
  flex-wrap: wrap;
  color: rgb(16, 13, 19);
}

.content-box {
  flex: 0 1 300px;
  flex: 1 1 300px;
  flex: 2 1 300px;
  border: 1px solid red;
  background: lightpink;
  font-size: 2rem;
  text-align: center;
  min-width: 300px;
}
